.toy-preview {
    border: 1.5px solid lightgrey;
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 15px;
    background-color: whitesmoke;
}

.delete {
    font-size: 1.2rem;
    background-color: inherit;
    padding: 2.3px 8px 3.8px;
}

.preview-btns>* {
    margin: 5px;
}