.user-msg {
    background-color: $clr2;
    padding: 1em;
    position: absolute;
    bottom: 1em;
    left: 1em;
    color: $clr5;
}

.user-msg.success {
    background-color: $clr2;
}

.user-msg.error {
    background-color: $clr3;
}


.user-msg button {
    float: right;
    margin: 1em;
}