.toy-edit {
   @include flex-columm-center;
    margin-top: 20px;

    input:not(.checked){
        height: 35px;
    }

    .edit-btns {
        display: flex;

    
        >* {
            margin: 20px;
            font-weight: 600;
        }
    }
}