body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: .5em 0 .5em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

p {
    margin: 0 0 1em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}



button , a{
    margin-top: 10px;
    border: 1.5px solid lightgrey;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover{
    background-color: lightgrey;
}
button:hover{
    background-color: lightgrey;
}

input.check-box{
    accent-color: var(--main-color);
}

input , label{
    outline-color: rgb(87, 87, 87) ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* Dont stretch my Media */
img,
embed,
video,
object {
    max-width: 100%
}

/* Simple and useful CSS Debugging Technique */
.debug * {
    outline: 1px solid gold
}

a.active {
    text-decoration: overline;
}

.main-layout >*:not(.full){
    margin-left: 20px;
    margin-right: 20px;
}